/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #6c6b6b;
}
header{
    background-color: #ff9a4b;
    height: 50px;
    width: 100%;
}
.main-visual{
    display: flex;
    justify-content: center;
    /* margin-top: 50px;
    margin-bottom: 50px; */
    width: 960px;
    margin: 50px auto;
}
.main-visual-item{
    background-color: #eeeeee;
    width: 300px;
    height: 300px;
    position: relative; /* 子要素の起点を指定 */
}
.step-num{
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute; /* 親要素を起点に配置 */
    top: 0;
    left: 0;
    background-color: #ff9a4b;
    color: #fff;
}
.image1{
    width: 280px;
    height: 150px;
    background-image: url(img/flow01.png);
    background-position: bottom;
    background-size: cover;
}
.image2{
    width: 280px;
    height: 150px;
    background-image: url(img/flow02.png);
    background-position: bottom;
    background-size: cover;
}
.image3{
    width: 280px;
    height: 150px;
    background-image: url(img/flow03.png);
    background-position: bottom;
    background-size: cover;
}
h3{
    margin: 15px 0 5px 0;
    padding: 0 10px;
}
p {
    font-size: 14px;
    padding: 0 10px;
}
.main-visual-item-center{
    margin-right: 30px;
    margin-left: 30px;
}
footer{
    background-color: #aaaaaa;
    height: 50px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    
    .main-visual-item{
        width: 90%;
        height: auto;
        padding: 10px;
        margin-right: 5%;
        margin-left: 5%;
    }
    .main-visual{
        width: 100%;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .main-visual-item-center {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .image1{
        width: auto;
    }
    .image2{
        width: auto;
    }
    .image3{
        width: auto;
    }
    h3 {
        font-family: 'BIZ UDPGothic', sans-serif;
        margin: 15px 0 15px 0;
        padding: 0;
    }
    p {
        font-family: 'Noto Sans JP', sans-serif;
        padding: 0;
        line-height: 1.4rem;
    }
  }